<div class="container" id="gallery">
      <div class="row col-sm-12 middle">
        <table class="col-sm-7">
          <tr>
            <td ng-click="selectMB()"><img src="https://s-media-cache-ak0.pinimg.com/736x/6b/c6/39/6bc639dafa438beb9127bceb5092b1e4--music-boxes-ballerinas.jpg" alt=""></td>
            <td ng-click="select46()"><img src="https://previews.123rf.com/images/asmati/asmati1606/asmati160604735/59147399-Ping-pong-paddle-with-ball-Dark-gray-icon-on-transparent-background--Stock-Vector.jpg" alt=""></td>
            <td ng-click="selectCP()"><img src="https://code-pilot.herokuapp.com/images/code-pilot.png" alt=""></td>
          </tr>
          <tr>
            <td ng-click="selectBJ()"><img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Poker-sm-214-Js.png" alt=""></td>
            <td ng-click="selectTT()"><img src="https://www.shareicon.net/download/2016/07/26/801902_game_512x512.png" alt=""></td>
            <td ng-click="selectYOM()"><img src="https://cdn3.iconfinder.com/data/icons/transportation-icons-2/512/Yacht-512.png" alt=""></td>
          </tr>
        </table>
        <div class="col-sm-5">
          <div class="details">
            <h2>Project Details</h2>
            <div class="border">
              <h3>TITLE</h3>
              <p>{{title}}</p>
            </div>
            <div class="border">
              <h3>STACK</h3>
              <p>{{stack}}</p>
            </div>
            <div class="border">
              <h3>DESCRIPTION</h3>
              <p>{{description}}</p>
            </div>
            <div class="border">
              <h3>View Live Site</h3>
              <a href="{{link}}">{{link}}</a>
            </div>
          </div>

        </div>
      </div>
      <table>

      </table>
    </div>
