<div class="container" id="gallery">
      <div class="row col-sm-12 middle">
        <table class="col-sm-7">
          <tr>
            <td ng-click="selectMB()"><img src="./images/MBlogo.png" alt=""></td>
            <td ng-click="select46()"><img src="./images/paddlescrossing.png" alt=""></td>
            <td ng-click="selectCP()"><img src="https://code-pilot.herokuapp.com/images/code-pilot.png" alt=""></td>
          </tr>
          <tr>
            <td style="padding:30px;" ng-click="selectBJ()"><img src="./images/blackjackcard.png" alt=""></td>
            <td style="padding:15px;" ng-click="selectTT()"><img src="./images/althangmanLogo.png" alt=""></td>
            <td style="padding:10px;" ng-click="selectYOM()"><img src="https://cdn3.iconfinder.com/data/icons/transportation-icons-2/512/Yacht-512.png" alt=""></td>
          </tr>
        </table>
        <div class="col-sm-5">
          <div class="details">
            <h2>Project Details</h2>
            <div class="border">
              <h3>TITLE</h3>
              <p>{{title}}</p>
            </div>
            <div class="border">
              <h3>STACK</h3>
              <p>{{stack}}</p>
            </div>
            <div class="border">
              <h3>DESCRIPTION</h3>
              <p>{{description}}</p>
            </div>
            <div class="border">
              <h3>View Live Site</h3>
              <a href="{{link}}">{{link}}</a>
            </div>
          </div>

        </div>
      </div>
      <table>

      </table>
    </div>
